body {
    background-image: url(/Om\ mig/Bilder/space.gif);
}

.header {
    position: sticky;
    top: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    left: 25%;
    background-image: linear-gradient(to bottom, rgb(66, 151, 255), rgb(85, 133, 255));
    width: 50%;
    color: lightblue;
    font-weight: bold;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
}

.sidebar {
    display: block;
    position: fixed;
    text-align: center;
    font-size: x-large;
    margin-left: 0px;
    margin-top: 10%;
    background-color: black;
    border-radius: 10px;
}
.sidebar ul {
    padding: 0;
}

.sidebar ul li a {
    display: block;
    font-size: 20px;
    background-color: white;
    padding: 6px 40px;
    text-decoration: none;
    color:black;
}

.sidebar ul li a:hover{
    background-color: gray;
}

.sidebarfärg {
    color: white;
    text-decoration: none;
}

#current {
    background-color: lightblue;
}

/*Döper denna boxes då den kommer användas för att göra varenda div till en box med en absolute position för att göra så att de kan "flyta" i webbsidan*/
.boxes {
    display: block;
    position: absolute;
    border-radius: 10px;
}

.blackbg {
    background-color: black;
    color: white;
}

.gradientbg {
    background-image: linear-gradient(to bottom right, rgb(0, 255, 85), rgb(0, 234, 255)) !important;
    color: black;
}

.boxone {
    margin-left: 15%;
    margin-top: 60px;
    max-width:  40%; 
}

.boxtwo {
    max-width: 30%;
    margin-left: 60%;
    margin-top: 100px;
}

.boxthree {
    max-width: 30%;
    margin-left: 25%;
    margin-top: 550px;
}

.imgsize {
    width: 100%;
    border-radius: 10px;
}

.padding {
    padding: 5px;
}