body {
    background-image: url(Bilder/space.gif);
}

.header {
    position: sticky;
    top: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    left: 25%;
    background-image: linear-gradient(to bottom, rgb(66, 151, 255), rgb(85, 133, 255));
    width: 50%;
    color: lightblue;
    font-weight: bold;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
}

.sidebar {
    display: block;
    position: fixed;
    text-align: center;
    font-size: x-large;
    margin-left: 0px;
    margin-top: 10%;
    background-color: black;
    border-radius: 10px;
}
.sidebar ul {
    padding: 0;
}

.sidebar ul li a {
    display: block;
    font-size: 20px;
    background-color: white;
    padding: 6px 40px;
    text-decoration: none;
    color:black;
}

.sidebar ul li a:hover{
    background-color: gray;
}

.sidebarfärg {
    color: white;
    text-decoration: none;
}

#current {
    background-color: lightblue;
}

/*Döper denna boxes då den kommer användas för att göra varenda div till en box med en absolute position för att göra så att de kan "flyta" i webbsidan*/
.boxes {
    display: block;
    position: absolute;
    border-radius: 10px;
}

.blackbg {
    background-color: black;
    color: white;
}

.gradientbg {
    background-image: linear-gradient(to bottom right, rgb(0, 255, 85), rgb(0, 234, 255)) !important;
    color: black;
}

.gradientbluebg {
    background-image: linear-gradient(to bottom left, rgb(55, 0, 255), rgb(72, 106, 255));
    color: black;
}

.alicebluebg {
    background-color: rgb(220, 239, 255);
    color: black;
}

.boxone {
    margin-left: 15%;
    margin-top: 2%;
    max-width: 40%; 
}

.boxtwo {
    max-width: 30%;
    margin-left: 60%;
    margin-top: 4%;
}

.boxthree {
    max-width: 30%;
    margin-left: 25%;
    margin-top: 33%;
}

.boxfour {
    max-width: 25%;
    margin-left: 60%;
}

.boxfourpos {
    margin-top: 48%;
}

.boxfourpostwo {
    margin-top: 57%;
}

.boxfive {
    margin-left: 7%;
    max-width: 50%;
    margin-top: 67%;
}

.boxsix {
    width: 80%;
    margin-top: 105%;
    margin-left: 8%;
}

.imgsize {
    width: 100%;
    border-radius: 10px;
}

.padding {
    padding: 5px;
}

.disclaimer {
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    color: red;
    display: none;
}

/*Det ända @media sidan kommer använda (om sidan är för liten)*/
@media screen and (max-width: 1280px) {
    .disclaimer {
        display: block;
    }
}